{% load ifpermit %}

<div class="groupbody" id="groupbody{{group.id}}">

<div class="pullheader" id="groupheader{{group.id}}">
<div class="pullheadertext">{{group.title}}. 
{% ifnotequal rights "N" %}
you're {{ rights|full_right }} of this group
{% endifnotequal %}
</div>
<div class="smallbutton" onclick="javascript:$('.leftpart').load('/group/{{group.id}}/pulls');">pulls</div>
<div class="smallbutton" onclick="javascript:$('.leftpart').load('/group/{{group.id}}/users');">users</div>
<div class="smallbutton" onclick="javascript:$('.leftpart').load('/group/{{group.id}}/topics');">topics</div>
{% ifequal rights "N" %}
<div class="smallbutton" onclick="javascript:subscribe_group({{group.id}});">subscribe</div>
{% endifequal %}
{% ifequal rights "R" %}
<div class="smallbutton" onclick="javascript:unsubscribe_group({{group.id}});">unsubscribe</div>
{% endifequal %}
{% ifpermit rights C %}
<div class="smallbutton" onclick="javascript:purgegroup({{group.id}});">purge</div>
{% endifpermit %}
</div>

<div class="grouppulls" id="grouppulls{{group.id}}">
{% for m in group.members.all %}
{% if forloop.counter0 %}, {% endif %}<a onclick="javascript:$('.leftpart').load('/group/{{group.id}}/user/{{m.id}}');" href="about:none">{{m.username}}</a>
{% endfor %}
</div>

</div>
