{% load ifpermit %}

<div class="groupbody" id="groupbody{{group.id}}">

<div class="pullheader" id="groupheader{{group.id}}">
<div class="pullheadertext">{{group.title}}. 
{% ifnotequal rights "N" %}
you're {{ rights|full_right }} of this group
{% endifnotequal %}
</div>
<div class="smallbutton" onclick="javascript:$('.leftpart').load('/group/{{group.id}}/pulls');">pulls</div>
<div class="smallbutton" onclick="javascript:$('.leftpart').load('/group/{{group.id}}/users');">users</div>
<div class="smallbutton" onclick="javascript:$('.leftpart').load('/group/{{group.id}}/topics');">topics</div>
{% ifequal rights "N" %}
<div class="smallbutton" onclick="javascript:subscribe_group({{group.id}});">subscribe</div>
{% endifequal %}
{% ifequal rights "R" %}
<div class="smallbutton" onclick="javascript:unsubscribe_group({{group.id}});">unsubscribe</div>
{% endifequal %}
{% ifpermit rights C %}
<div class="smallbutton" onclick="javascript:purgegroup({{group.id}});">purge</div>
{% endifpermit %}
</div>

<div class="grouppulls" id="grouppulls{{group.id}}">
<h1>{{user}} ({{user.first_name}} {{user.last_name}}) - {{ hisrights|full_right}} of this group</h1>
<a href="">Grant moderator rights</a><br />
<a href="">Grant administrator rights</a>
<h2>His/her activity:</h2> 
<b>Pulls</b>: {{pulls}}<br />
<b>Topics</b>: {{topics}}<br />
<b>Comments</b>: {{comments}}<br />
</div>

</div>
