{% load ifpermit %}

<div class="groupbody" id="groupbody{{group.id}}">

<div class="folderheader" id="groupheader{{group.id}}">
<div class="folderheadertext">{{group.title}}. 
{% ifnotequal rights "N" %}
you're {{ rights|full_right }} of this group
{% endifnotequal %}
</div>

{% ifpermit rights A %}
<div class="smallbutton" onclick="javascript:addfolder({{group.id}});">new folder</div>
{% endifpermit %}
<div class="smallbutton" onclick="javascript:$('.leftpart').load('/group/{{group.id}}/folders');">folders</div>
<div class="smallbutton" onclick="javascript:$('.leftpart').load('/group/{{group.id}}/users');">users</div>
<div class="smallbutton" onclick="javascript:$('.leftpart').load('/group/{{group.id}}/topics');">topics</div>
{% ifequal rights "N" %}
<div class="smallbutton" onclick="javascript:subscribe_group({{group.id}});">subscribe</div>
{% endifequal %}
{% ifequal rights "R" %}
<div class="smallbutton" onclick="javascript:unsubscribe_group({{group.id}});">unsubscribe</div>
{% endifequal %}
{% ifpermit rights C %}
<div class="smallbutton" onclick="javascript:purgegroup({{group.id}});">purge</div>
{% endifpermit %}
</div>


<div class="groupfolders" id="groupfolders{{group.id}}">
</div>

</div>

<script>
{% for p in group.folders.all %}
$.ajax({
      url: "/folder/"+{{p.id}},
      global: false,
      type: "POST",
      data: ({}),
      success: function(msg){
	if (msg!="None"){
	    $('#groupfolders'+{{group.id}}).append(msg);
	    //$('#folderbody'+{{p.id}}).css("width","95%").css("margin-left","5px").css("margin-right","5px");
	}
	else{
	}
      }
   }
)
{% empty %}
$('#groupfolders'+{{group.id}}).html("No folders")
{% endfor %}
</script>