
<div class="pullbody" id="pullbody{{pull.id}}">

<div class="pullheader" id="pullheader{{pull.id}}">
<div class="pullheadertext">{{pull.title}} - {{pull.pullentry_set.count}} entries</div>
<div class="smallbutton" onclick="javascript:addfeed({{pull.id}});">add feed</div>
<div class="smallbutton" id="togglepull{{pull.id}}" onclick="javascript:togglepull({{pull.id}});">hide</div>
<div class="smallbutton" onclick="javascript:updatepull({{pull.id}});">update</div>
<div class="smallbutton" onclick="javascript:cleanpull({{pull.id}});">clean</div>
<div class="smallbutton" onclick="javascript:purgepull({{pull.id}});">purge</div>
</div>

{% for e in pull.pullentry_set.all %}
{% with e.entry as entry %}
<div class="entry">
<div style="display:table-cell;width:100%;"><h3>{{ entry.title }}</h3></div>
<div class="timestamp" style="display:table-cell;white-space: nowrap;">{{entry.downloaded|date}} {{entry.downloaded|time}}</div>
<div class="undercomment"><a href="{{entry.url}}">{{entry.url}}</a></div>
{% autoescape off %}
{{entry.summary}}
{% endautoescape %}
</div>
{% endwith %}
{% endfor %}
</div>
