{% extends "index.html" %}

{% block mainmenu %}
<div class="button" onclick="javascript:document.location='/'">News</div>
<div class="button_disabled">Pulls</div>
<div class="button" onclick="javascript:document.location='/groups'">Groups</div>
<div class="button" onclick="javascript:document.location='/search'">Search</div>
<div class="button" onclick="javascript:document.location='/profile'">Profile</div>
<div class="button" onclick="javascript:document.location='/logout'">Logout</div>
{% endblock %}

{% block rightpart %}
<div class="pullheader">Pulls</div>
{% if pulls %}
<div class="rightmenu" onclick="javascript:document.location='/pulls/';">All</div>
{% for p in pulls %}
<div id="openpull{{p.id}}" class="rightmenu" onclick="javascript:openpull({{p.id}});">{{p.title}}</div>
{% endfor %}
{% endif %}
<div id="createpull" class="rightmenu" onclick="javascript:create_new_pull();">Create new pull</div>
{% endblock %}

{% block scripts %}
{% for p in pulls %}
<script>
$.ajax({
      url: "/pull/"+{{p.id}},
      global: false,
      type: "POST",
      data: ({}),
      success: function(msg){
	if (msg!="None"){
	    $('.leftpart').append(msg);
	}
	else{
	}
      }
   }
)
</script>
{% endfor %}
{% endblock %}