{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<link type="text/css" href="css/main.css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery.js"></script> 
<title>Sign in with your OpenID</title>
<script>
function openid_google(){
document.getElementById("id_openid_identifier").value="https://www.google.com/accounts/o8/id";
document.getElementById("submitbutton").click()
}

function openid_yahoo(){
document.getElementById("id_openid_identifier").value="http://yahoo.com/";
document.getElementById("submitbutton").click()
} 
</script>  
<style type="text/css">
input.openid {
  background: url({% url openid-logo %}) no-repeat; 
  background-position: 0 50%;
  padding-left: 16px;
}
</style>
</head>
<body>
<h1>Sign in with your OpenID</h1>
{% if form.errors %}
<p class="errors">{% trans "Please correct errors below:" %}<br />
	{% if form.openid_identifier.errors %} 
		<span class="error">{{ form.openid_identifier.errors|join:", " }}</span>
	{% endif %}
	{% if form.next.errors %} 
		<span class="error">{{ form.next.errors|join:", " }}</span>
	{% endif %}
</p>
{% endif %}
<form name="fopenid" action="{{ action }}" method="post">
	<fieldset>
		<legend>{% trans "Sign In Using Your OpenID" %}</legend>
        <div class="form-row">
            <label for="id_openid_identifier">{% trans "OpenID:" %}</label><br />
            {{ form.openid_identifier }}
	    <a href="http://www.openid.net">(?)</a>
        </div>
        <div class="submit-row "><input name="bsignin" id="submitbutton" type="submit" value="{% trans "Sign in" %}"></div>
<div class="openidbutton"><img src="/img/google.png" onclick='javascipt:openid_google()'/></div>
<div class="openidbutton"><img src="/img/yahoo.png" onclick='javascipt:openid_yahoo()'/></div>
 {% if next %}
	<input type="hidden" name="next" value="{{ next }}" />
 {% endif %}

	</fieldset>
</form>	
<script>
$(".openidbutton").hover(
      function () {
        $(this).css("background-color","#c3a549");
      }, 
      function () {
        $(this).css("background-color","#ead8ec");
      }
    );

</script>
</body>
</html>
