/*5cbf45*/
/*38a223*/
* {
margin:0;
padding:0;
}

html {
height:100%;
overflow-y:scroll;
}

body {
height:100%;
background-color:#ffffff;
}

img {
margin:0;
padding:0;
}

a {
color:#38a223;
font-family:arial;
text-decoration:none;
}

p {
padding-bottom:3px;
}

#header {
color:#000000;
font-size:11pt;
text-align:center;
background-color:#38a223;
background-repeat:no-repeat;
height:25px;
}

#main {
position:relative;
width:100%;
background-color:#ffffff;
margin-left:0px;
padding-bottom:20px;
padding-top:0px;
}

#footer {
   clear:left;
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;
    color:#000000;
    font-size:8pt;
    text-align:right;
    background-color:#38a223;
    background-repeat:no-repeat;
}


div.news {
background-color:#5cbf45;
width: 50%;
}

div.pullheader{
border-spacing:4px;
border:solid 1px #5cbf45;
background-color:#5cbf45;
width:100%;
cursor:default;
}

div.pullheadertext{
display: table-cell;
width:100%;
color:#000000;
font-size:9pt;
font-weight:bold;
}

div.smallbutton {
font-size:8pt;
text-align:center;
color:#000000;
height:10px;
width:50px;
white-space:nowrap;
display:table-cell;
vertical-align:middle;
padding-left:5px;
padding-right:5px;
border: 0px;
background-color:#38a223;
/*background-color:#e5c3df;*/
}

div.smallbutton:hover {
cursor:pointer;
cursor:hand;
color:#000000;
background-color:#ffffff;
}

div.pullbody{

margin-right:0px;
border:solid 5px #5cbf45;
padding-right:10px;
width:90%;
background-color:#5cbf45;
margin-bottom:20px;
}

div.groupbody{
margin-right:0px;
border:solid 5px #5cbf45;
padding-right:0px;
width:90%;
background-color:white;
margin-bottom:20px;
}


.dialog{
border:solid 3px #5cbf45;
background-color:white;
text-align:right;
}

.errordialog{
border:solid 3px darkred;
background-color:white;
text-align:center;
}


div.grouppulls{
width:99%;
padding:0.5%;
background-color:white;
}

.grouppulls div{
width:96%;
}

.pullbody hr {
border: dashed 1px #38a223;
}

div.entry {
color:#000000;
font-size:9pt;
background-color:#ffffff;
background-repeat:no-repeat;
margin-bottom:1px;
width:100%;
border: solid 5px #ffffff;
}

div.accordion {
width:100%;
}

#container {
   width:100%;
   min-height:100%;
   position:relative;
}


.accordion a {
color:#000000;
}

.accordion h3 {
font-size:9pt;
color:#000000;
background-color:#5cbf45;
border:solid 1px #38a223;
}
.accordion div {
background-color:#ffffff;
}

#accordionform {
padding-bottom:10px;
}

div.mainmenu {
width: 100%;
margin-top:0px;
margin-bottom:3px;
background-color:#5cbf45;
}

div.button {
color:#000000;
font-size:10pt;
width:120px;
height:20px;
text-align:center;
vertical-align:middle;
display:table-cell;
background-color:#5cbf45;
padding-left:2px;
padding-right:2px;
padding-top:2px;
padding-bottom:2px;
}

div.button_disabled {
color:#000000;
font-style:bold;
font-size:10pt;
width:120px;
height:20px;
text-align:center;
vertical-align:middle;
display:table-cell;
background-color:#38a223;
padding-left:2px;
padding-right:2px;
padding-top:2px;
padding-bottom:2px;
}

div.button:hover {
cursor:pointer;
cursor:hand;
color:#000000;
background-color:#ffffff;
}


div.buttonOpenID {
color:#000000;
font-size:10pt;
width:20px;
height:20px;
text-align:center;
vertical-align:middle;
display:table-cell;
background-color:#ffffff;
border: 3px solid white;
padding-left:2px;
padding-right:2px;
padding-top:2px;
padding-bottom:2px;
}

div.buttonOpenID:hover {
cursor:pointer;
cursor:hand;
color:#000000;
/*background-color:#5cbf45;
*/
border: 3px solid #5cbf45;
}
.ui-dialog-titlebar{
display:none;
color:red;
} 

div.subbutton {
color:#000000;
font-size:10pt;
width:150px;
height:20px;
text-align:center;
vertical-align:middle;
display:table-cell;
background-color:#5cbf45;
padding-left:2px;
padding-right:2px;
padding-top:2px;
padding-bottom:2px;
}

div.subbutton:hover {
cursor:pointer;
cursor:hand;
color:#000000;
background-color:#ffffff;
}

div.timestamp {
color:#a09b75;
text-align:right;
padding-right:10px;
font-size:8pt;
}

div.leftpart {
width: 70%;
min-width:600px;
float:left;
}
div.rightpart {
margin-left:70%;
border: solid 3px #5cbf45;
}

div.undercomment {
color:#a09b75;
padding-right:10px;
font-size:8pt;
}

div.rightmenu {
color:#000000;
padding-left:10px;
background-color:#ffffff;

}

div.rightmenu:hover {
cursor:pointer;
cursor:hand;
color:#000000;
background-color:#5cbf45;
}

h1 {
font-size:11pt;
}

h2 {
font-size:10pt;
}

h3 {
font-size:9pt;
}
