{% extends "index.html" %}
{% block mainmenu %}
<div class="button" onclick="javascript:document.location='/'">News</div>
<div class="button" onclick="javascript:document.location='/pulls'">Pulls</div>
<div class="button_disabled">Groups</div>
<div class="button" onclick="javascript:document.location='/search'">Search</div>
<div class="button" onclick="javascript:document.location='/profile'">Profile</div>
<div class="button" onclick="javascript:document.location='/logout'">Logout</div>
{% endblock %}

{% block rightpart %}
<div class="pullheader">Groups</div>
{% if groups %}
<div class="rightmenu" onclick="javascript:document.location='/groups/';">All</div>
{% for p in groups %}
<div id="opengroup{{p.id}}" class="rightmenu" onclick="javascript:opengroup({{p.id}});">{{p.title}}</div>
{% endfor %}
{% endif %}
<div id="creategroup" class="rightmenu" onclick="javascript:create_new_group();">Create new group</div>
{% endblock %}

{% block scripts %}
{% for p in groups %}
<script>
$.ajax({
      url: "/group/"+{{p.id}},
      global: false,
      type: "GET",
      data: ({}),
      success: function(msg){
	if (msg!="None"){
	    $('.leftpart').append(msg);
	}
      }
   }
)
</script>
{% endfor %}
{% endblock %}