<html>
<head>

<script type="text/javascript" src="/js/jquery.js"></script>  
<script type="text/javascript" src="/js/jquery-ui.js"></script>  
<script type="text/javascript" src="/js/folders.js"></script>
<script type="text/javascript" src="/js/groups.js"></script>
<script type="text/javascript" src="/js/topics.js"></script>

<link type="text/css" href="/css/main.css" rel="stylesheet" />
{% block meta %}
{% endblock %}
</head>
<title>Seetho. News filtering, systematization and group aggregation.</title>
<body>
<div id="container">
<!--div id="header">
Seetho. News filtering, systematization and group aggregation.
</div-->

<div class="mainmenu">
{% block mainmenu %} 
{% endblock %}
</div>

<div id="main">

{% block main %}
<div class="leftpart">
{% block leftpart%}
{% endblock %}
</div>

<div class="rightpart">
{% block rightpart %}
{% endblock %}
</div>
{% endblock %}

</div>
<div style="clear:left"></div>

{% block scripts %}
{% endblock %}

{% block accordion %}
<div id="accordionform">
<div id="accordion" class="accordion">
<h3><a href="#">Step №1. Select feed</a></h3>
<div style="position: relative;">
Please, enter wanted site's url, and press "Check"-button. Program will automaticaly find rss/atom source.<br />
<input id="id_feed_url" name="feed_url" value="http://" onkeydown='$(this).css("color","black");' onchange='$("#id_feed_cheked").attr("value","False");' onkeyup='javascript:suggest_feed();'/>
<input type="hidden" value="False" name="feed_cheked" id="id_feed_cheked" />
<input type="button" onclick='javascript:findFeed();' value="Check" /><br />
<div id="suggest_feed_div" style="position: absolute; left: 0px; top: 60px;"></div>
<input type="button" onclick="$('#accordion').accordion('activate',1);" value="Next" />
</div>
<h3><a href="#">Step №2. Construct filter</a></h3>
<div>
You can construct filter here. Input words, separated by commas.<br />
News contain <u>all</u> words:<input id="id_filter_must" name="filter_must"/><br />
News contain <u>some</u> words:<input id="id_filter_may" name="filter_may"/><br />
News <u>don't</u> contain <u>any</u> word:<input id="id_filter_not" name="filter_not"/><br />
<input type="button" onclick="$('#accordion').accordion('activate',2);" value="Next" /><input type="button" onclick="$('#accordion').accordion('activate',0);" value="Back" />
</div>
<h3><a href="#">Step №3. Submit</a></h3>
<div>
<input type="hidden" id="id_folder_id" name="folder_id" value="-1"/>
<input type="hidden" id="id_folder_title" name="folder_title" value="Add new folder"/>
And finaly, check all data and commit it.<br />
<input type="button" value="Add feed" onclick="add_feed_to_folder();"></input><input type="button" onclick="$('#accordion').accordion('activate',1);" value="Back" />
</div>
</div>
</div>

<script type="text/javascript">
  $("#accordion").accordion();
  $("#accordion").hide();
</script>
{% endblock %}

<div id="footer">Seetho (c) semenoff.andrew 2009.</div>
</div>

</body>
</html>